@media (max-width: 750px) {
  body {
    font-size: 12px;
  }

  .clubes {
    flex-direction: column;
    padding: 30px 0;
  }

  .cartao-clube {
    max-width: 300px;
  }

  .cartao-clube .cartao-escudo img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
  }

  .cartao-clube .cartao-informacao {
    padding: 60px 30px 30px;
    margin-top: -50px;
  }

  .cartao-clube .cartao-informacao h3 {
    font-size: 18px;
  }

  .listagem {
    max-width: 300px;
  }

  .listagem ul {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .listagem .clube {
    width: 140px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
    border-radius: 8px;
  }
}
